API_BASE_URL=http://localhost:8080
GOOGLE_CLIENT_ID=replace-with-your-google-client-id
# Get your DSN at https://docs.sentry.io/product/sentry-basics/dsn-explainer/
SENTRY_DSN=replace-with-your-sentry-dsn
