NODE_ENV=development
PORT=3000
MONGO_URI=mongodb://127.0.0.1:27017/homnayangi
REDIS_URI=redis://127.0.0.1:6379
LLM_PROXY_URL=http://127.0.0.1:3001
# LLM_PROVIDER=gemini
# LLM_PROVIDER=deepseek
# LLM_API_KEY=replace-with-llm-provider-api-key
LLM_PROVIDER=ollama
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=llama3.2:1b
JWT_SECRET=replace-with-a-long-secret
GOOGLE_CLIENT_ID=replace-with-google-client-id
HERE_API_KEY=replace-with-here-api-key
CORS_ORIGIN=http://localhost:3000,http://127.0.0.1:3000,http://localhost:8081,exp://127.0.0.1:19000,exp://localhost:19000
